{% extends "shop/base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">



                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            Изображение
                        </th>
                        <th>
                            Название
                        </th>
                        <th>
                            Стоимость
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in cart %}
                        <tr>
                            <td>
                                <img src="{{ item.photo.url }}">
                            </td>
                            <td>
                                {{ item.name }}
                            </td>
                            <td>
                                {{ item.price }}₽
                            </td>
                            <td>
                                <a href="cart/remove/{{ item.id }}">убрать из корзины</a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>

                </table>
                Итого: {{ total_price }}₽ <br>
                <a href="/checkout/">Подтвердить заказ</a>
            </div>
        </div>
    </div>
{% endblock %}