{% extends "shop/base.html" %}
{% block content %}
    <div align="center">
        Ваш заказ на сумму: {{ price_tag }}₽ <br>
        {% for item in items_tag %}
            <div>
                <a href="/cart/remove/{{ item.id }}">{{ item.name }}     {{ item.price }}₽</a>
            </div>
        {% endfor %}
        <a href="cart/checkout">Подтвердить заказ</a>
    </div>
{% endblock %}