{% extends "shop/base.html" %}
{% block content %}
    <div class="row">


        {% for item in items %}
            <div class="col-md-3">

                <h4 class="text-center text-info">
                    <a href="item/{{ item.id }}">  {{item.name}} </a>
                </h4>
                </h4><img alt="{{ item.name }}" src="{{ item.photo.url }}" style="width: 250px; height:250px" />

                <br>
                <span class="label label-default">{{item.company}}</span>
                <br>
                {{item.price}}₽ {{item.quantity}} шт.
                {% if item.quantity > 0 %}
                <a href="/shop/buy/{{ item.id }}" class="btn btn-success btn pull-right">Купить</a>
                {% else %}
                <a href="#" class="btn btn-danger btn pull-right">Нет в наличии</a>
                {% endif %}
                {% if perms.auth.add_item %}
                    <br><br>
                    <a href="/delete/{{ item.id }}" class="btn btn-danger btn pull-right">Удалить</a>
                    <br>
                {% endif %}

                {% if perms.auth.edit_item %}
                    <br>
                    <a href="/edit/{{ item.id }}" class="btn btn-warning btn pull-right">Изменить</a>
                {% endif %}
            </div>


        {% endfor %}
    </div>
<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
            <a href="/shop/?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
             <a href="/shop/?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}