{% extends "shop/base.html" %}
{% block content %}
    {% load static %}

    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <link href="{% static  "css/jquery.fancybox.min.css" %} " rel="stylesheet">
    <script src="{% static "js/jquery.fancybox.min.js" %}"></script>



            <div align="center" class="col-md-8">

                <div class="">
                    <img class="img-responsive" src="{{ item.photo.url }}" alt="" style="height: 400px; width: 400px">
                <div>
                    {% for image in images %}

                        <a data-fancybox="gallery" href="{{ image.img.url }}">
                            <img src="{{ image.img.url }}" style="height: 150px; width: 150px">
                        </a>
                    {% endfor %}
                </div>
            </div>
            </div>
            <div class="col-md-4">
                    <div class="caption-full">
                        <h4 class="pull-right">{{ item.price }}₽</h4>
                        <h4><a href="#">{{ item.name }}</a>
                        </h4>
                        <p>{{ item.text }}</p>
                        </div>
                    {{ item.params }}
                </div>
                            {% if item.quantity > 0 %}
                <a href="buy/{{ item.id }}" class="btn btn-success btn pull-right">Купить</a>
                {% else %}
                <a href="#" class="btn btn-danger btn pull-right">Нет в наличии</a>
                {% endif %}
                {% if perms.auth.add_item %}
                    <br><br>
                    <a href="/delete/{{ item.id }}" class="btn btn-danger btn pull-right">Удалить</a>
                    <br>
                {% endif %}

                {% if perms.auth.edit_item %}
                    <br>
                    <a href="/edit/{{ item.id }}" class="btn btn-warning btn pull-right">Изменить</a>
                {% endif %}

{% endblock %}