{% extends "shop/base.html" %}
{% block content %}
    <div align="center">
    <form action="" method="post">
        {% csrf_token %}


        {{object.name}}
        <img alt="{{ object.name }}" src="{{ object.photo.url }} " style="width: 250px; height: 250px" />
        <br>
        <span class="label label-default">{{cell.company}}</span>
        <br>
        {{object.price}} Руб. {{object.quantity}} шт.

        <p>Вы уверены что хотите удалить этот товар?</p>
        <input type="submit" value="Удалить" class="btn btn-danger" /> <br>

    </form>
    </div>
{% endblock %}