{% extends "shop/base.html" %}
{% block content %}
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <p>Register</p>
                <form action="" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.name }}
                        <br>
                        {{ field }} <br><br><br>
                    {% endfor %}
                    <button type="submit" class="btn btn-success">Войти</button>
                </form>
            </div>
        </div>
    </header>
{% endblock %}