{% extends "shop/base.html" %}
{% block content %}
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Photo web store. From Russia. With love.</h1>
                <hr>
                <p>Django based web store</p>
                <a href="/shop" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>
{% endblock %}