{% extends "shop/base.html" %}
{% block content %}
    {% if item_tag|length > 0 %}
    {% for order in orders %}
        <table class="table">
            <thead>
            <tr>
                <th>
                    Изображение
                </th>
                <th>
                    Название
                </th>
                <th>
                    Стоимость
                </th>
            </tr>
            </thead>
            {% for item in order %}
                <tr>
                    <td>
                        <img src="{{ item.photo.url }} " style="height: 250px; width: 250px">
                    </td>
                    <td>
                        {{ item.name }}
                    </td>
                    <td>
                        {{ item.price }}₽
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br><br><br><br>
    {% endfor %}
    {% endif %}


{% endblock %}