{% extends "shop/base.html" %}
{% block content %}
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <p>Register</p>

                <form action="" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.name }}
                        {% if field.field.required %}
                            <b style="color:red">*</b>
                        {% endif %}
                        <br>
                        {{ field }} <br><br><br>
                    {% endfor %}
                    <button class='btn btn-success' type="submit">Регистрация</button>
                </form>
                Уже есть аккаунт? <a href="/login/">Войти</a>

            </div>
        </div>
    </header>
{% endblock %}