<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static "vendor/magnific-popup/magnific-popup.css" %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static "css/creative.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <title>Фотомагазин чики-брики</title>
    <style>
        /* Style The Dropdown Button */
        .dropbtn {
            background-color: #C0ECA2;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }
        body { padding-top: 50px; }
        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {background-color: #FCACA1}

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }

        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {
            background-color: #8ADB51;
        }
    </style>

</head>



<body id="page-top">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">PhotoStore у Димки</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home Page</a></li>
            <li><a href="/shop?company=canon" >Canon</a></li>
            <li><a href="/shop?company=nikon" >Nikon</a></li>
            <li><a href="/shop?company=pentax" >Pentax</a></li>
            <li><a href="#" >Ретро</a></li>
        </ul>


        <div class="col-sm-2 col-md-2">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" formaction="/shop/"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>

        <ul class="nav navbar-nav navbar-right ">
            {% if perms.auth.add_item %}
                <li><a href="/add/">добавить</a></li>
            {% endif %}
            {% if user.get_username %}

                <li>
                    <div class="dropdown">
                        <button class="dropbtn"><a class="cartbutton" href="/cart/">Корзина: {{ price_tag }}₽</a></button>
                        <div class="dropdown-content">
                            {% for item in items_tag %}
                                <a href="/cart/remove/{{ item.id }}">{{ item.name }}     {{ item.price }}₽ <img width="18%" src="http://www.myiconfinder.com/uploads/iconsets/256-256-bc9cb51b597932c4386ebb9dd0e4c0e1.png"></a>
                            {% endfor %}
                            <a id="modal-740464" href="#modal-cart" role="button" data-toggle="modal">Оформить заказ</a>
                        </div>
                    </div>
                </li>
                <li><a href="history"> {{ user.get_username }} </a></li>
                <li><a href="/logout/">Выйти</a></li>
            {% else %}
                <li><a href="/register/">Регистрация</a></li>
                <li><a href="/login/">Войти</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
{% block content %}<p>test</p>{% endblock %}
<hr>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Наши контакты</h2>
                <hr class="primary">
                <p>Готовы работать с нами? Отлично!<br> Позвоните нам или напишите на почту</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x sr-contact"></i>
                <p>+7 999 450 69 42</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <p><a href="mailto:your-email@your-domain.com">dmitryrint@gmail.com</a></p>
            </div>
        </div>
    </div>
</section>

			<div class="modal fade" id="modal-cart" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">

							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								×
							</button>
							<h4 class="modal-title" id="myModalLabel">
								Ваша заказ
							</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>
                                        Изображение
                                    </th>
                                    <th>
                                        Название
                                    </th>
                                    <th>
                                        Стоимость
                                    </th>
                                </tr>
                                </thead>
                                {% for item in items_tag %}
                                    <tr>
                                        <td>
                                            <img src="{{ item.photo.url }} " style="height: 150px; width: 150px">
                                        </td>
                                        <td>
                                            {{ item.name }}
                                        </td>
                                        <td>
                                            {{ item.price }}₽
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
						<div class="modal-footer">

							<button type="button" class="btn btn-default" data-dismiss="modal">
								Отмена
							</button>
							<a href="/checkout/" class="btn btn-primary">
								Подтвердить заказ
							</a>
						</div>
					</div>

				</div>

			</div>
<!-- jQuery -->
<script src="{% static "vendor/jquery/jquery.min.js" %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="{% static "vendor/scrollreveal/scrollreveal.min.js" %}"></script>
<script src="{% static "vendor/magnific-popup/jquery.magnific-popup.min.js" %}"></script>

<!-- Theme JavaScript -->
<script src="{% static "js/creative.min.js" %}"></script>
</body>
</html>